# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
/.metadata/
/.settings/
/.sonarlint/
.class
.settings
.classpath
.project
.iml
.idea
.jar
classes
*.iml
